/* global changes ***********/
body {
  margin: 10px auto;
  width: 1000px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  vertical-align: middle;
  height: 35px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: underline;
}

/* Selectors used with Result Box no in use */
/* ul {
  vertical-align: top;
  display: inline-block;
  height: 510px;
  list-style: square;
  list-style-position: inside;
  padding-top: 5px;
}

li {
  text-align: left;
  font-size: 1.1em;
} */


/* Header section ***********/
header {
  padding: 5px;
  margin: 10px auto;
  border-bottom: solid thin black;
}

header img {
  height: 70px;
  border-radius: 50%;
}

header div {
  display: inline-block;
  vertical-align: middle;
}

/* Main Body ***********/
#main {
  width: inherit;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 10px auto;
  text-align: center;
  border-bottom: solid thin black;
}

#main div {
  display: inline-block;
}

/* Result box Currently Not in Use */
/* #result-box {
  background-color: rgba(27, 21, 21, 0.2);
  border-radius: 10%;
  margin-right: 5px;
  height: 500px;
  width: 240px;
  padding-top: 10px;
} */

/* Product Box ***********/
#product-box {
  height: 250px;
  width: 745px;
}

#product-box img {
  width: 230px;
  height: 250px;
  border: solid thin black;
  border-radius: 10px;
}

#product-box div {
  margin-right: 5px;
  vertical-align: top;
  display: inline-block;
}

/* Instruction Box ***********/
#instructions {
  width: 100%;
  margin: 10px auto;
  padding-top: 10px;
  height: 125px;
  text-align: center;
  vertical-align: top;
  border-bottom: solid thin black;
}

/* Chart Box ***********/
#chart-box {
  width: 100%;
  height: 500px;
  padding: 10px 0px;
}

#myChart {
  width: 1000px;
  height: 500px;
}

/* Resest Box ***********/
#reset-box {
  text-align: center;
  border-bottom: solid thin black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#reset {
  border-radius: 10px;
  float: 10px;
}

/* Footer ***********/
footer {
  opacity: 0.7;
  height: 150px;
  text-align: center;
}

footer img {
  height: 50px;
  border-radius: 50%;
}

